{$CADDY_HOST:mymeals.local} {
	root * /srv
	encode gzip

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}

http://{$CADDY_HOST:mymeals.local} {
	redir https://{$CADDY_HOST:mymeals.local}{uri}
}
